test/res/
test/m64236_211121_102448.hifi_reads.bam
test/featurecount_bug/
test/nohup.out
test/test_res
test/test_res_all
test/test_res_isoform
test/test_sample.s1.sh
test/test_sample.s2.sh
test/test_sample.s3.sh
test/test_sample.s4.sh
test/Untitled.ipynb
test/work.exe.sh
test/work.sh

dev_ISO_exp.ipynb
nohup.out
work_packages.sh
Untitled.ipynb

tools/picard.jar
tools/cDNA_Cupcake
tools/CeleScope
tools/SQANTI3-4.2

src/nohup.out
src/cigar.py
src/run_pacbio.ipynb
src/run.s1.sh
src/run.s2.sh
src/run.s3.sh
src/run.s4.sh
src/Untitled.ipynb

.ipynb_checkpoints/
src/.ipynb_checkpoints/
test/.ipynb_checkpoints/

